.bottom-bar {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background: var(--bg-color);
  border-top: 1px solid var(--card-color);
}

@media only screen and (max-width: 550px) {
  .bottom-bar {
    display: none;
  }
}

.song-info {
  display: flex;
  height: 100%;
  width: 30%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.song-info img {
  width: auto;
  height: 100%;
}

.title_artiste {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.title_artiste pre:first-child {
  font-weight: 600;
  font-size: 15px;
}

.title_artiste pre {
  width: 100%;
  font-size: 13px;
  overflow: hidden;
  padding: 2px;
}

.control_progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50%;
  justify-content: center;
}

button.play {
  width: 35px;
  height: 35px;
  padding: 5px;
  background-color: var(--primary-color);
}

button.play i {
  font-size: 20px;
  color: var(--white);
}

.control-btn {
  margin: 0 10px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.control-btn i {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-track {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.progress-track pre {
  width: 30px;
  font-size: 12px;
}

.song-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #666666;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.song-progress, .volume-progress {
  position: absolute;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.song-progress {
  width: 0%;
}

.volume-progress {
  width: 100%;
}

.more-control {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.volume {
  width: 35%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.volume-bar {
  position: relative;
  height: 5px;
  width: 80%;
  background-color: var(--card-color);
  border-radius: 5px;
}

.side-nav {
  position: relative;
  min-width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: inherit;
  border-right: 1px solid var(--card-color);
}

@media only screen and (max-width: 800px) {
  .side-nav {
    min-width: 170px;
  }
}

@media only screen and (max-width: 550px) {
  .side-nav {
    display: none;
  }
}

.logo {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.logo h1 {
  color: var(--primary-color);
  font-family: 'Pacifico', cursive;
}

.nav-item {
  padding: 20px 0 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-item h1 {
  width: 100%;
  width: 85%;
  text-align: start;
  font-size: 15px;
  font-weight: 400;
  color: gray;
}

.nav-item ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  align-items: flex-end;
}

.nav-item ul li {
  width: 90%;
  height: 35px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.nav-item ul li a {
  text-decoration: none;
  text-align: start;
  width: 100%;
  height: 100%;
  font-size: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 0 0 5%;
}

.nav-item ul li a:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 51, 0.2);
}

.active-side-link {
  background-color: var(--primary-color);
  font-weight: 600;
}

.active-side-link a {
  color: var(--white) !important;
}

.active-side-link a:hover {
  background-color: transparent !important;
}

.content {
  height: 100%;
  width: 100%;
}

.content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content-bar {
  padding: 0 20px;
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 550px) {
  .content-bar {
    padding: 0px;
  }
}

.page-nav i {
  color: var(--text-color);
  font-size: 35px;
  cursor: pointer;
  margin: 0 5px;
}

@media only screen and (max-width: 550px) {
  .page-nav i {
    font-size: 20px;
    margin: 2px;
  }
}

.user-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.user-details pre {
  font-size: 15px;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .user-details pre {
    font-size: 10px;
  }
}

.user-details img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .user-details img {
    width: 15px;
    height: 15px;
    margin: 0 3px;
  }
}

.theme-toggle {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  transition: all .5s ease;
}

.theme-toggle pre {
  cursor: pointer;
  transition: position .5s ease;
}

@media only screen and (max-width: 550px) {
  .theme-toggle pre {
    font-size: 10px;
  }
}

.theme-toggle .container {
  position: relative;
  width: 45px;
  height: 20px;
  margin: 0 5px;
  border-radius: 20px;
  border: none;
  background-color: var(--text-color);
  cursor: pointer;
  transition: position .5s ease;
}

@media only screen and (max-width: 550px) {
  .theme-toggle .container {
    width: 20px;
    height: 10px;
  }
}

.theme-toggle .container .ball {
  position: absolute;
  top: 2px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--bg-color);
  border: none;
  transition: all 1s ease;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .theme-toggle .container .ball {
    top: 1px;
    width: 8px;
    height: 8px;
  }
}

.dark {
  transition: position .5s ease;
}

.dark pre:nth-child(2) {
  transition: all .5s ease;
  display: none;
}

.dark .container .ball {
  right: 2px;
  transition: all .5s ease;
}

.light pre:first-child {
  display: none;
}

.light .container .ball {
  left: 2px;
  transition: all .5s ease;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: calc(100% - 55px);
  overflow: hidden;
}

.page {
  width: 100%;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.page-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0 50px;
}

.page-section-header h1 {
  font-size: 25px;
}

@media only screen and (max-width: 550px) {
  .page-section-header h1 {
    font-size: 15px;
  }
}

.page-links {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-links ul {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.page-link a {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.page-link a hr {
  width: 100%;
  height: 5px;
  border: none;
  background-color: transparent;
}

.page-link:hover a {
  color: var(--primary-color);
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 0.3fr));
  gap: 10px;
  justify-content: space-evenly;
  align-items: start;
}

@media only screen and (max-width: 550px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(90px, 0.5fr));
    padding: 10px 0;
  }
}

#search {
  align-items: center;
}

#search input {
  width: 60%;
  border-radius: 5px;
  border: 1px var(--black) solid;
  padding: 8px 20px 8px 40px;
  font-size: 1rem;
  margin: 10px 0;
  background: url("../imgs/search-black-18dp.svg") no-repeat left;
  background-color: var(--white);
  background-position-x: 10px;
}

@media only screen and (max-width: 550px) {
  #search input {
    width: 100%;
    font-size: .5rem;
    background-size: 10px;
    padding: 5px 10px 5px 25px;
  }
}

.mobile-bottom-bar {
  display: none;
}

@media only screen and (max-width: 550px) {
  .mobile-bottom-bar {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
  }
  .mobile-bottom-bar .song-info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50%;
    width: 100%;
  }
  .mobile-bottom-bar .song-info img {
    height: 100%;
    width: auto;
  }
  .mobile-bottom-bar .song-info .song-details-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: none;
    height: 100%;
    width: 100%;
  }
  .mobile-bottom-bar .song-info .song-details-control .controls .play {
    width: 25px;
    height: 25px;
  }
  .mobile-bottom-bar .song-info .song-details-control div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .mobile-bottom-bar .song-info .song-details-control div p {
    font-size: 10px;
    width: max-content;
  }
  .mobile-bottom-bar .song-info .song-details-control div p:first-child {
    font-size: 12px;
    font-weight: bold;
  }
  .mobile-bottom-bar .song-info .song-details-control div .dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--text-color);
    margin: 0 5px;
  }
  .mobile-bottom-bar .song-info .song-details-control div i {
    font-size: 15px;
  }
  .mobile-bottom-bar .song-info .song-progress {
    position: absolute;
    top: -2px;
    height: 2px;
    width: 100%;
    background-color: var(--card-color);
  }
  .mobile-bottom-bar .song-info .song-progress .current-position {
    height: 100%;
    width: 0%;
    background-color: var(--primary-color);
  }
  .mobile-nav {
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--card-color);
  }
  .mobile-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .mobile-nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .mobile-nav ul li a i {
    font-size: 20px;
  }
}

.mobile-header {
  display: none;
}

@media only screen and (max-width: 550px) {
  .mobile-header {
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-color);
    color: var(--primary-color);
    box-shadow: -2px -2px 10px 0px var(--card-color);
  }
}

.queue {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  background-color: var(--bg-color);
  overflow-x: hidden;
  overflow-y: scroll;
}

.queue header {
  font-size: 25px;
  font-weight: bold;
  margin: 40px 0 10px 20px;
  align-items: start;
}

.now-playing header {
  font-size: 15px;
  font-weight: 600;
}

.title {
  font-size: 30px;
}

.title_artiste pre:first-child {
  color: var(--primary-color);
}

.songs {
  display: flex;
  flex-direction: column;
}

.songs header {
  font-size: 15px;
  font-weight: 500;
}

.pane {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 20px;
}

.pane i {
  font-size: 20px;
  opacity: 0;
}

.pane i:hover {
  cursor: pointer;
}

.pane:hover {
  background-color: rgba(255, 0, 51, 0.2);
}

.pane:hover i {
  opacity: 1;
}

.pane div {
  font-size: 12px;
}

.name {
  display: flex;
  align-items: center;
}

.name pre {
  margin-left: 10px;
}

.album:hover {
  cursor: pointer;
  text-decoration: underline;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.details img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.title_artiste pre:first-child {
  font-weight: 600;
}

.title_artiste span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card {
  padding: 2px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: var(--card-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover button.play {
  opacity: 1;
}

.card-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-details {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 5px;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 550px) {
  .card-details {
    padding: 3px;
  }
}

.card-play {
  position: absolute;
  top: -45px;
  right: 5px;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 0, 51, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  border: none;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
}

@media only screen and (max-width: 550px) {
  .card-play {
    width: 25px;
    height: 25px;
    top: -28px;
    right: 2px;
  }
}

.card-play i {
  font-size: 25px;
  color: var(--white);
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .card-play i {
    font-size: 15px;
  }
}

.card-add {
  position: relative;
  border: none;
  background-color: transparent;
  max-height: max-content;
}

.card-add i {
  color: var(--primary-color);
  font-size: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .card-add i {
    font-size: 20px;
  }
}

.add-container {
  position: absolute;
  width: max-content;
  transition: all 14s ease;
  display: flex;
  flex-direction: column;
  background-color: var(--card-color);
  z-index: 5;
  border: 1px solid var(--text-color);
}

.add-container div {
  padding: 5px 10px;
  background-color: var(--card-color);
  color: var(--text-color);
}

.add-container div:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 51, 0.1);
}

.card-title-artiste {
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.card-title {
  margin-bottom: 5px;
  font-size: .8rem;
  font-weight: 600;
}

@media only screen and (max-width: 550px) {
  .card-title {
    font-size: .5rem;
  }
}

.card-title, .card-artiste {
  max-width: max-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: text-indent 3s linear;
}

.card-artiste {
  font-weight: 500;
  font-size: .6rem;
}

@media only screen and (max-width: 550px) {
  .card-artiste {
    font-size: 0.3rem;
  }
}

.artiste:hover {
  cursor: pointer;
  text-decoration: underline;
}

:root {
  --bg-color: #fff;
  --text-color: #000;
  --primary-color: rgb(255, 0, 51);
  --white: white;
  --black: black;
  --card-color: rgb(207, 206, 206);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
  user-select: none;
  scroll-behavior: smooth;
}

html {
  overflow: hidden;
  height: 100vh;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
  height: 100vh;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 70px);
}

@media only screen and (max-width: 550px) {
  .nav_content {
    height: calc(100% - 150px);
  }
}

.active-link a {
  color: var(--primary-color) !important;
  font-weight: bold;
}

.active-link a hr {
  background-color: var(--primary-color) !important;
}

/*  
dark-mode : bg-color = black
                text-color = white
                primary-color = grey-ish
                secondary-color = #1ECBE1

light-mode : bg-color = white
             text-color = black
             primary-color = #E11ECB
             secondary-color = #1ECBE1
*/
/*# sourceMappingURL=main.css.map */